In [1]:
import pandas as pd

In [2]:
students = ['Naman', 'Nikhil', 'Shivansh']
pd.Series(students)

0       Naman
1      Nikhil
2    Shivansh
dtype: object

In [3]:
numbers = ['1', '2', '3']
pd.Series(numbers)

0    1
1    2
2    3
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
students = ['Naman', 'Nikhil', None]
pd.Series(students)

0     Naman
1    Nikhil
2      None
dtype: object

In [6]:
#NaN stands for Not a Number
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
#it's important to stress that None and NaN might be used by the Data Scientist in the same way, 
#to denote missing data. But that underneath, these are not represented by pandas in the same way. 
#NaN is not equivalent to None and when we try the equality tests, the result is false.
import numpy as np
np.nan == None

False

In [8]:
#Equality test if NaN to itself
np.nan == np.nan

False

In [9]:
#We need to use special functions to test for the presence of not a number such as the Numpy library isnan.
#So we can use np.isnan this function and pass it np.nan, and we see that the result is true.
#So keep in mind that when you see NaN, it's meaning is similar to None but it's a numeric value and
#treated differently for efficiency reasons.
np.isnan(np.nan)

True

In [16]:
student_scores = {
    'Nikhil' : 'Physics',
    'Naman' : 'Chemistry',
    'Shivansh' : 'Mathematics'
}
s = pd.Series(student_scores)
s

Nikhil          Physics
Naman         Chemistry
Shivansh    Mathematics
dtype: object

In [17]:
s.index

Index(['Nikhil', 'Naman', 'Shivansh'], dtype='object')

In [18]:
students = [("Nikil","Shishodia") , ("Naman","Kansal") , ("Shivansh","Bansal")]
pd.Series(students)

0    (Nikil, Shishodia)
1       (Naman, Kansal)
2    (Shivansh, Bansal)
dtype: object

In [19]:
pd.Series(['Physics', 'Chemistry', 'Mathematics'], index = ['Nikhil', 'Naman', 'Shivansh'])

Nikhil          Physics
Naman         Chemistry
Shivansh    Mathematics
dtype: object

In [21]:
student_scores = {
    'Nikhil' : 'Physics',
    'Naman' : 'Chemistry',
    'Shivansh' : 'Mathematics'
}
s = pd.Series(student_scores, index = ['Nikhil', 'Naman', 'Govind'])
s

Nikhil      Physics
Naman     Chemistry
Govind          NaN
dtype: object